@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@200;300&display=swap');

html {
    background-color: #ebe4d9;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    color: rgb(41, 41, 41);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ============= Main ========== */
/* ============= Seccion Invitacion ========== */
.invitacion-section {
    background-image: url("../img/Flores1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -90px;
}

.invitacion-section span {
    width: 240px;
}

.invitacion-section .text1 {
    margin: 2rem 0;
}

.invitacion-section h2 {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    margin: 1rem 0;
}

.invitacion-section h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    margin: 1rem 0;
}

/* =========== Seccion countdown ========= */
.countdown-section {
    background-image: url("../img/background3.png");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    color: white;
}

.countdown-section .marco {
    width: 100%;
    height: 300px;
    background-image: url("../img/marco.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 67% 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown-section .text1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.countdown-section .countdown {
    font-size: 4rem;
}