@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@200;300&display=swap');

/* ============= General ========== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: #ebe4d9;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    color: rgb(41, 41, 41);
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    margin: 1rem 0;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    margin: 1rem 0;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.25rem;
    margin: 1rem 0;
    font-weight: 200;
}

p { 
    width: 240px;
    margin: 2rem 0;
}

span {
    display: block;
}

/* ============= Components ========== */
.button {
    background: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 25px;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin: 2rem;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: white;
}

input {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    outline: none;
    margin: 1rem 0;
    box-shadow: inset 1px 1px 5px 0 #a5a5a5;
}

hr {
    height: 128px;
    background-image: url("../img/Flor.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 48px;
    border: none;
}

.emphasis {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.material-symbols-outlined.icon-big {
    font-size: 7rem;
}

.music-btn {
    position: fixed;
    text-decoration: none;
    color: black;
    background-color: rgb(235, 235, 235);
    border-radius: 100%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0 0 32px 0 rgb(119, 119, 119);
    cursor: pointer;
}

.material-symbols-outlined.icon-medium {
    font-size: 2rem;
}

.music-btn .hidden {
    display: none;
}

/* ============= Main ========== */
/* ============= Seccion Invitacion ========== */
.invitacion-section {
    min-height: 90vh;
    background-image: url("../img/Flores1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -90px;
    background-position-x: 50%;
    padding-top: 96px;
}

/* =========== Seccion countdown ========= */
.countdown-section {
    min-height: 90vh;
    background-color: #ff0900;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
    color: white;
}

.countdown-section .heart {
    margin: 3rem 0;
    width: 100%;
    aspect-ratio: 4 / 3;
    background-image: url("../img/marco.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown-section .heart > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.countdown-section .seconds {
    grid-column: 1 / 4;
}

.countdown-section .countdown {
    font-size: 2rem;
}

/* =========== Seccion itinerario ========= */
.itinerario-section .itinerario {
    display: flex;
    gap: 4rem;
    align-items: stretch;
    margin: 1rem 0;
}

/* =========== Sección Codigo de vestimenta ========= */
.custom-icon {
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: 50% 50%;
    margin: 1rem;
}

.codigo-vestimenta-icon {
    background-image: url('../icons/codigo-de-vestimenta.png');
}

/* =========== Sección Confirmación ========= */
.confirmacion-section form {
    padding: 1rem 1rem 0;
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 15px 0 #a89e8e;
}

/* =========== Footer ========= */
footer {
    margin-top: 4rem;
    padding: 1rem 0;
    font-size: 0.75rem;
}