@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@200;300&display=swap');

/* ============= General ========== */
html {
    background-color: #ebe4d9;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    color: rgb(41, 41, 41);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    margin: 1rem 0;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    margin: 1rem 0;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.25rem;
    margin: 1rem 0;
    font-weight: 200;
}

p { 
    width: 240px;
    margin: 2rem 0;
}

span {
    display: block;
}

.emphasis {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.material-symbols-outlined.icon-big {
    font-size: 7rem;
}

/* ============= Components ========== */
/* ============= Buttons ========== */
a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 25px;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin: 2rem;
}

/* ============= Main ========== */
/* ============= Seccion Invitacion ========== */
.invitacion-section {
    min-height: 100vh;
    background-image: url("../img/Flores1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -90px;
}

/* =========== Seccion countdown ========= */
.countdown-section {
    padding: 2rem 0;
    margin-bottom: 2rem;
    background-image: url("../img/background3.png");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    color: white;
}

.countdown-section .marco {
    margin: 1rem 0 2rem;
    width: 100%;
    height: 16rem;
    background-image: url("../img/marco.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 67% 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown-section .countdown {
    font-size: 4rem;
}

/* =========== Seccion itinerario ========= */
.itinerario-section {
    margin: 2rem 0;
}

.itinerario-section .itinerario {
    display: flex;
    gap: 2rem;
    align-items: stretch;
}

.itinerario-section .horarios {
    padding: 1rem;
}

/* =========== Sección Codigo de vestimenta ========= */
.codigo-vestimenta-section {
    margin: 2rem 0;
}